body:has(#modal > .accountSettingsModal) #app:before {
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    inset: 0 auto auto 0;
    pointer-events: all;
    z-index: 1000;
}

.accountSettingsModal {
    width: 450px;
    height: 500px;
    background-color: var(--floatingBackgroundColor);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: fixed;
    inset: 50% auto auto 50%;
    display: flex;
    flex-flow: column;
    transform: translate(-50%, -50%);
    z-index: 1001;
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
}

body.light-theme .accountSettingsModal {
    --sectionTitleColor: rgba(0, 0, 0, 0.8);
}

body.dark-theme .accountSettingsModal {
    --sectionTitleColor: rgba(255, 255, 255, 0.8);
}

.accountSettingsModal .accountSettingsModalInner {
    padding: 30px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.accountSettingsModal .fieldRow {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.accountSettingsModal .fieldRowCenter {
    align-items: center;
    justify-content: center;
}

.accountSettingsModal .fieldInner {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.accountSettingsModal .fieldRowSingle .fieldInner {
    width: 100%;
}

.accountSettingsModal .fieldRowDouble {
    justify-content: space-between;
    gap: 20px;
}

.accountSettingsModal .fieldRowCenter .fieldInner {
    align-items: center;
    justify-content: center;
}

.accountSettingsModal .fieldRowDouble>* {
    flex: 1;
}

.accountSettingsModal .fieldInner .title {
    color: var(--sectionTitleColor);
    font-weight: 700;
    text-transform: uppercase;
}

.accountSettingsModal .fieldInner .value {
    width: 100%;
    position: relative;
}

.accountSettingsModal .fieldInner .value:has(> input):before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--tealColor);
    border-radius: 5px;
    position: absolute;
    inset: 0 auto auto 0;
    opacity: 0.2;
    transition: opacity 100ms linear;
    z-index: -1;
}

.accountSettingsModal .fieldInner .value:focus-within:before {
    opacity: 0.4;
}

.accountSettingsModal .fieldRow {
    margin-bottom: 10px;
}

.accountSettingsModal .fieldRowDouble#avatarRow {
    flex-flow: column;
    --avatarWidth: 150px;
    --avatarHeight: 150px;
}

.accountSettingsModal .fieldRowDouble#avatarRow .value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountSettingsModal .fieldRowDouble#avatarRow .avatarEditor {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.accountSettingsModal .fieldRowDouble#avatarRow #fileInput {
    width: 100%;
    height: var(--avatarHeight);
    border-radius: 50%;
    position: absolute;
    inset: auto 0 0;
    opacity: 0;
    cursor: pointer;
    z-index: 9;
}

.accountSettingsModal .fieldRowDouble#avatarRow .dragDrop {
    width: 100%;
    height: var(--avatarHeight);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 10px 0 0 0;
    position: relative;
    inset: 0 auto auto 0;
    z-index: 2;
    transition: background-color 100ms linear;
}

.accountSettingsModal .fieldRowDouble#avatarRow:has(#fileInput:hover) .dragDrop {
    background-color: rgba(0, 0, 0, 0.2);
}

.accountSettingsModal .fieldRowDouble#avatarRow .dragDrop:before {
    content: "Drop avatar here";
    width: 100%;
    height: var(--avatarHeight);
    color: var(--fontColor);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountSettingsModal .value:has(#avatar) #avatar {
    min-width: var(--avatarWidth);
    width: var(--avatarWidth);
    height: var(--avatarHeight);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    display: block;
    z-index: 1;
}

.accountSettingsModal .fieldRowDouble#avatarRow .buttonContainer {
    width: 100%;
    max-width: initial;
    align-items: center;
    justify-content: center;
}

.accountSettingsModal .fieldInner input {
    width: 100%;
    height: 30px;
    color: var(--fontColor);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px 10px;
    appearance: none;
}

.accountSettingsModal .buttonContainer {
    max-width: 125px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
    user-select: none;
}

.accountSettingsModal button {
    height: 30px;
    color: white;
    text-align: center;
    background-color: var(--tealColor);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 8px 12px;
    appearance: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 100ms linear, transform 100ms linear;
}

.accountSettingsModal button:hover {
    opacity: 1;
}

.accountSettingsModal button.danger {
    background-color: var(--redColor);
}

.accountSettingsModal button:active {
    transform: translateY(2px);
}

.accountSettingsModal button:disabled {
    opacity: 0.4;
}