@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tauri&display=swap");

@font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("https://fonts.gstatic.com/s/googlesans/v58/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2rgCIlsw.woff2") format("woff2");
}

@keyframes opacity0 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:root {
    --pageBackgroundColor: #fff;
    --navHeight: 60px;
    --navBackground: rgba(22, 22, 23, 0.8);
    --navLinkColor: rgba(255, 255, 255, 0.8);
    --navLinkHighlighterBackgroundColor: rgba(94, 94, 94, 0.9);
    --highlightedBackgroundColor: rgba(94, 94, 94, 0.2);
    --headerHeight: 350px;
    --headerBackgroundColor: rgba(0, 0, 0, 1);
    --headerTitleColor: rgba(255, 255, 255, 0.9);
    --memberBackgroundColor: rgba(225, 225, 225, 0.5);
    --memberBorderColor: rgba(0, 0, 0, 0.2);
    --footerBackgroundColor: rgba(225, 225, 225, 0.8);
    --dialogModalBackdropBackgroundColor: rgba(0, 0, 0, 0.4);
    --dialogModalContentBackgroundColor: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--pageBackgroundColor);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1,
h2 {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
}

h2 {
    font-size: 1.8rem;
}

nav {
    --linkHeight: 20px;
    --hoveringTimingDuration: 250ms;
    width: 100%;
    height: var(--navHeight);
    font-family: "Roboto", sans-serif;
    background-color: var(--navBackground);
    position: fixed;
    inset: 0 auto auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    backdrop-filter: saturate(10%) blur(20px);
    z-index: 999;
    transition: height 500ms ease;
}

nav a {
    height: var(--linkHeight);
    color: var(--navLinkColor);
    font-size: 14px;
    text-decoration: none;
    position: relative;
    z-index: 2;
    user-select: none;
    transition: color 100ms linear, font-size 100ms linear;
}

nav .tempElem {
    width: 0;
    height: calc(var(--linkHeight) + 10px);
    background-color: var(--navLinkHighlighterBackgroundColor);
    border-radius: 5px;
    position: absolute;
    inset: auto auto 16px 0;
    z-index: 1;
    transition: left var(--hoveringTimingDuration) linear;
    opacity: 0;
    animation: opacity0 100ms 250ms linear forwards;
}

nav .tempElem:not([style]) {
    display: none;
}

nav .tempElem[style] {
    display: block;
}

nav .hamburger-wrapper {
    width: 25px;
    height: 20px;
    position: absolute;
    inset: 20px 50px auto auto;
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 500ms 200ms ease;
}

@media only screen and (max-width: 800px) {

    :root:has(nav .hamburger-wrapper.open) {
        --navHeight: 100%;
        --navLinkColor: #fff;
    }

    body:has(nav .hamburger-wrapper.open) {
        overflow: none;
    }

    nav {
        flex-flow: column;
        gap: 35px;
        backdrop-filter: saturate(40%) blur(25px);
    }

    nav a {
        font-family: "Noto Sans", sans-serif;
        font-weight: 800;
        display: none;
    }

    nav .tempElem {
        display: none !important;
    }

    body:has(nav .hamburger-wrapper.open) nav a {
        font-size: 30px;
        display: block;
    }

    nav .hamburger-wrapper {
        display: flex;
        opacity: 1;
    }

    body:has(nav .hamburger-wrapper.open) header {
        height: calc(var(--headerHeight) + 60px) !important;
    }
}

nav .hamburger-wrapper span {
    --height: 3px;
    width: 100%;
    min-height: var(--height);
    background-color: #cdcdcd;
    border-radius: 5px;
    transform-origin: 4px 0px;
    transition: opacity 400ms ease, transform 500ms cubic-bezier(0.77, 0.2, 0.05, 1.0);
    pointer-events: none;
}

nav .hamburger-wrapper.open span {
    transform: rotate(45deg) translate(0, 0);
}

nav .hamburger-wrapper span:first-child {
    transform-origin: 0% 0%;
}

nav .hamburger-wrapper span:nth-child(2) {
    transform-origin: 0% 100%;
}

nav .hamburger-wrapper.open span:nth-child(2) {
    transform: rotate(-45deg) translate(calc(var(--height) * -2), calc(var(--height) * 2)) !important;
}

nav .hamburger-wrapper.open span:last-child {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

header {
    width: 100%;
    height: calc(var(--navHeight) + var(--headerHeight));
    background-color: var(--headerBackgroundColor);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: var(--headerTitleColor);
}

#team {
    background-color: var(--pageBackgroundColor) !important;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#team h2 {
    margin: 20px 0 40px;
}

#team .teamMembers {
    padding: 0 0 40px 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#team .teamMembers:after {
    content: "";
    width: 100%;
    height: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: auto auto 0 0;
}

#team .member {
    width: 140px;
    height: 180px;
    font-family: "Tauri", sans-serif;
    background-color: var(--memberBackgroundColor);
    border: 1px solid var(--memberBorderColor);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transform: scale(1);
    cursor: pointer;
    transition: transform 100ms linear;
}

#team .member:hover {
    transform: scale(1.05);
}

#team .member .photo {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#team .member .name {
    font-weight: 800;
    margin: 5px 0;
}

.sectionBox {
    padding: 40px 140px;
    transition: background-color 250ms linear;
}

@media screen and (max-width: 600px) {
    .sectionBox {
        padding: 40px 80px !important;
    }
}

.sectionBox.highlighted {
    background-color: var(--highlightedBackgroundColor);
}

main {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

main .sectionBox {
    border-radius: 5px;
    padding: 20px 140px 30px;
}

main .sectionBox:last-child {
    margin-bottom: 80px;
}

main article {
    max-width: 1200px;
    font-family: -apple-system, BlinkMacSystemFont, Google Sans, "Roboto", sans-serif;
}

main article h2 {
    text-align: left;
    margin: 15px 0 20px 0;
    display: inline-block;
}

main article .content {
    font-size: 1rem;
}

footer {
    background-color: var(--footerBackgroundColor);
    padding: 40px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.dialogModal {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0 auto auto 0;
    z-index: 1000;
}

.dialogModal .dialogModal-backdrop {
    width: 100%;
    height: 100%;
    background-color: var(--dialogModalBackdropBackgroundColor);
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 1;
}

.dialogModal .dialogModal-inner {
    width: 400px;
    height: 400px;
    background-color: var(--dialogModalContentBackgroundColor);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 50% auto auto 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 2;
    animation: opacity0 250ms linear forwards;
}

/* Dialog Box */

.dialogModal[data-type="memberInfo"] .dialogModal-inner {
    width: 500px;
    height: 400px;
}

.dialogModal .dialogModal-inner .memberInfo {
    height: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    --avatarDimension: 100px;
}

.dialogModal .memberInfo .top {
    --height: 130px;
    width: 100%;
    min-height: var(--height);
    max-height: var(--height);
    position: relative;
    overflow: visible;
    z-index: 2;
}

.dialogModal .memberInfo .banner {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    inset: 0 auto auto 0;
}

.dialogModal .memberInfo .photo {
    width: var(--avatarDimension);
    height: var(--avatarDimension);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    inset: auto auto calc((var(--avatarDimension) / 2) * -1) 25px;
}

.dialogModal .memberInfo .photo:before {
    --dimensionOutset: 8px;
    content: "";
    width: calc(var(--avatarDimension) + var(--dimensionOutset));
    height: calc(var(--avatarDimension) + var(--dimensionOutset));
    border: var(--dimensionOutset) solid #fff;
    border-radius: 50%;
    position: absolute;
    inset: -2px auto auto -2px;
    pointer-events: none;
}

.dialogModal .memberInfo .content {
    --infoHeight: 80px;
    width: 100%;
    margin: 60px 0 0 0;
    position: relative;
    flex: 1;
    z-index: 1;
}

.dialogModal .memberInfo .info {
    width: 370px;
    height: var(--infoHeight);
    font-family: "Tauri", sans-serif;
    padding: 10px 20px;
    position: absolute;
    inset: calc(((var(--avatarDimension) / 2) + 10px) * -1) 0 0 calc((var(--avatarDimension) / 2) + 80px);
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.dialogModal .memberInfo .info .name {
    font-size: 1.5rem;
    font-weight: 800;
}

.dialogModal .memberInfo .info .role {
    font-size: 1.3rem;
}

.dialogModal .memberInfo .bio {
    height: calc(100% - (var(--infoHeight) / 2) + 10px);
    font-size: 1rem;
    padding: 10px 30px;
    margin: 30px 0 0 0;
    position: relative;
}